.friendListWrapper {
    display: flex;
    position: relative;
    width: 240px;
}

.friendList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 1.1em;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 40px;
}

.activity {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

.friend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.friend .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
}

.friend .photo img {
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.friend .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 162px;
}

.friend .details .bg {
    font-size: 0.8rem;
    font-weight: bold;
}

.friend .details .sm {
    font-size: 0.65rem;
}

.friend .details a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0s;
}

.friend .details a:hover {
    text-decoration: underline;
}

.friend .details a div{
    margin-right: 5px;
}