

.playButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #FFF;
    font-size: 15px;
    right: 10px;
    bottom: 10px;
    width: 42px;
    height: 42px;
    background: var(--main-green);
    border-radius: 120px;
    box-shadow: 2px 8px 8px black;
    transform: translateY(10px);
    /* animation: moveDown 0.4s forwards; */
}

.playButton:hover {
    transform: scale(1.05);
}

.playButton.active {
    animation: moveUp 0.4s forwards;
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        opacity: initial;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}